/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

ul {
  margin-bottom: 40px;
  list-style-type:square;
}

p {
  line-height: 2rem;
}

#motivation {
  line-height: 150%;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#pillBackground {
  opacity: 0.5;
}

h1 {
  font-family: 'Bungee', cursive;
}

#drugIcon {
  padding-left: 30px;
  padding-top: 30px;
}

.searchEntry {
  border: darkblue 3px solid;
}

.bannerBorder {
  border-bottom: black  5px solid;
}

/* Begin d3 css */

.legend {
  font-size: 12px;
}
rect {
  stroke-width: 2;
}
#chart {
  height: 360px;
  position: relative;
  width: 360px;
}
.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}

/* End d3 css */

.widget{
  height: 360px;
  position: relative;
  width: 360px;
  left: 350px;
  margin-left: auto;
  margin-right: auto;
}

.warning-label {
  margin-top:0px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.warning-text {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

ul li {
  list-style-type: circle;
  display: list-item;
}