/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

ul {
  margin-bottom: 40px;
  list-style-type:square;
}

p {
  line-height: 2rem;
}

#motivation {
  line-height: 150%;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#pillBackground {
  opacity: 0.5;
}

h1 {
  font-family: 'Bungee', cursive;
}

#drugIcon {
  padding-left: 30px;
  padding-top: 30px;
}

.searchEntry {
  border: darkblue 3px solid;
}

.bannerBorder {
  border-bottom: black  5px solid;
}

/* adding bullet points to the footer */

ul.browser-default li {
  list-style-type: initial;
}

/* end of adding bullet points to footer */


/* scroller CSS */

.holder { 
  background-color:white; 
  border: 1px solid black; 
  width:1008px;
  height:250px;
  overflow:hidden;
  padding:10px;
  font-family:Helvetica;
}
.holder .mask {
  position: relative;
  left: 0px;
  top: 10px;
  width:1008px;
  height:240px;
  overflow: hidden;
}
.holder ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
}
.holder ul li {
  padding:10px 0px;
}
.holder ul li a {
  color:blue;
  text-decoration:none;
}

/* end of scroller CSS */

